* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html, body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #1082b7;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.player-form {
    display: flex;
    flex-direction: column;
}

.game-table {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: repeat(3, 75px);
    background-color: #536d9f;
}


.table-square {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
}

button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 30px;
    background-color: #315290;
    border: 0;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color: #536d9f;
    transform: scale(1.1);
   
}

.game-mode {
    gap: 15px;
    display: flex;
}

.table-square:hover{
    background-color: #4b6087;
    transform: scale(1.05);
}

.score {
    
    margin: 10px;
    padding: 10px;
    
}
